// 1u is a 8px grid unit. 1u === 8px

.root
  max-width $UI.media.mobile
  align-items center

.createRoom
.enterBlock
  margin-bottom 2u

.inputField
  border 1px solid #555
  border-radius 1u
  height 5u
  width 100%
  padding 1u
  margin-bottom 1u

.textStyle
  margin-bottom 2u
  margin-top 2u
  font-size 20px