// 1u is a 8px grid unit. 1u === 8px

.textStyle
  margin-bottom 2u
  margin-top 5u
  font-size 20px

.rounds {
  display flex
  flex-direction row
  margin-top 1u
  justify-content space-around
  width 100%
}

.results {
  font-size 24px
}

.header {
  font-weight bold
}

.row {
  height 4u  
}